:root{
    --main-color: #06a0bb;
}
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    margin-bottom: 40px;
}
nav{
    background-color: white;
    height: 0.5in;
    margin-top: 0;
}
nav h1{
    transform: translateX(50%);
    transform: translateY(50%);
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: -20px;
    color: var(--main-color);
    margin-left: 10px;
}
nav:hover{
    background-color: var(--main-color)&;
    transition: 1s;
}
nav:hover h1{
    color: white;
}
nav a{
    padding: 18px;
    background-color: var(--main-color);
    border-radius: 0px;
    color: white;
    transition: 1s;
    position: relative;
    left: 95%;
    top: -100%;
}
nav a:hover{
    transform: scale(1.5);
    transition: 1s;
}
nav:hover a{
    background-color: white;
    color: var(--main-color);
    transition: 1s;
}
#nav-title img{
    height: 0.5in;
    width: auto;
    display: inline-block;
}
nav h1{
    display: inline-block;
    transform: translateX(50%);
    transform: translateY(10%);
}
body{
    background-color: gray;
}
form{
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    flex: 1;
    min-width: 15cm;
}
section{
    display: inline;
}
section h2{
    font-size: 28;
}
section p{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
label{
    font-size: 20px;
    font-weight: 400;
}
h1{
    font-size: 30px;
    text-align: center;
}
body{
    margin: 0;
    background: url(../images/illustrations/font.jpg);
}
input,select{
    margin: 20px 15px 20px 10px;
    
}
input::placeholder{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#m, #f{
    margin: 0 5px 0 20px ;
}
.gender-radio-label{
    font-weight: 80;
    font-size: 16px;
}

.diaporama{
    border-radius: 10px;
    margin: 0 0 0 30px;
}
.diaporama img{
    height: 6in;
    width: auto;
}
article{
    
}
.body{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
}
#form{
    margin-left: 2in;
}
.submit{
    border: solid 2px var(--main-color);
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    padding: 15px;
    width: 96%;
    cursor: pointer;
    font-size: 22px;
    position: relative;
    top: 50px;
}
.body p{
    font-size: 25px;
}
h2{
    font-size: 42px;
    color: #06a0bb;
}
hr{
    background-color: #06a0bb;
}
li{
    font-size: 25px;
    font-weight: 100;
}
ol{
    margin-bottom: 30px;
    font-weight: 100;
}
a#submit{
    background-color: #06a0bb;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
}
.blue{
    color: #06a0bb;
}
@media (max-width:1500px) {
    h1{
        font-style: 25px;
        display: none;
    }
    h2{
        font-size: 20px;
    }
    p, a{
        font-size: 15px;
    }
    li{
        font-size: 25px;
    }
    .body{
        width: 90%;
        border-radius: 0;
    }
}